// Colors
$blue: royalblue;

// stylelint-disable value-keyword-case
$font-family-sans-serif: Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
$font-family-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ( 25: 25%,
30: 30%,
35: 35%,
40: 40%,
45: 45%,
50: 50%,
55: 55%,
60: 60%,
65: 65%,
70: 70%,
75: 75%,
100: 100%) !default;

// Global options
$enable-flex: true;

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Vendor variables
$fa-font-path: '~font-awesome/fonts';

// animate css
$use-fadeIn: true;
$use-fadeOut: true;

/* sage/assets/styles/common/_variables.scss */

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";
